body{
    display: flex;
    background-color: bisque;
}
#main{
    width: 960px;
    height: 960px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#button{
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#bttn{
    width: 300px;
    height: 100px;
    font-size: large;
    font-weight: bold;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.card2{
    width: 48px;
    height: 36px;
}
#rowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
#buttonContainer{
    display: flex;
}
.button{
    width: 100px;
    height: 33px;
    font-size: large;
    font-weight: bold;
    background-color:rgb(248, 205, 96);
    border: 0ch;
    margin: 10px;
}