body{
    display: flex;
    background-color: bisque;
}
#main{
    width: 960px;
    height: 960px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#button{
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#bttn{
    width: 300px;
    height: 100px;
    font-size: large;
    font-weight: bold;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.card2{
    width: 48px;
    height: 36px;
}
#rowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}